{{ $imgSrc := .Destination | safeURL }}
{{ if $.Page.Resources.GetMatch (replaceRE "^([^#]*)#?.*" "$1" .Destination ) }}
  {{ $imgSrc = printf "%s%s" .Page.Permalink .Destination | relURL }}
{{ end }}

{{ if .Title }}
  <figure>
    <img src="{{ $imgSrc }}" alt=">>{{ .Text }}">
    <figcaption>{{ $.Page.RenderString .Title }}</figcaption>
  </figure>
{{ else }}
  <figure>
    <img src="{{ $imgSrc }}" alt="{{ .Text }}">
  </figure>
{{ end }}