html
{
    font-size: 18px;
}

figcaption
{
    text-align: center
}

figure img
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;
}