{{- if $thumbnail := .page.Params.thumbnail }}
	{{- $class := .class }}
	{{- $visibility := .page.Site.Params.thumbnail.visibility | default (slice "list" "post") }}

	{{- $valueType := printf "%T" $thumbnail -}}
	{{- $isMap := in $valueType "map" -}}
	{{- if $isMap }}
		{{ $visibility = default (slice "list" "post") (default .page.Site.Params.thumbnail.visibility $thumbnail.visibility) }}
		{{ $thumbnail = $thumbnail.src }}
	{{- end }}

  {{ $thumbnailSrc := $thumbnail | safeURL }}
  {{ if .page.Resources.GetMatch (replaceRE "^([^#]*)#?.*" "$1" $thumbnail ) }}
    {{ $thumbnailSrc = printf "%s%s" .page.Permalink $thumbnail | relURL }}
  {{ end }}

	{{- if in $visibility $class }}
	<figure class="{{ with $class }}{{ . }}__thumbnail {{ end }}thumbnail">
		{{ if eq $class "list" }}<a class="thumbnail__link" href="{{ .page.RelPermalink }}">{{ end }}
		<img class="thumbnail__image" src="{{ $thumbnailSrc }}" alt="{{ .page.Title }}">
		{{ if eq $class "list" }}</a>{{ end }}
	</figure>
	{{- end }}
{{- end }}